@import "tailwindcss";



@custom-variant dark (&:is(.dark *));

html,
body {
  scroll-behavior: smooth;
  background-color: #E8E8E7;

}



@theme inline {
  --color-gray: #454545;
  --color-black: #0A0A0A;
  --color-green: #26DF04;
  --color:greenShade:#215817;
  --color-darkgreen: #014715;
  --color-lightDarkGreen: #0D5001;
  --color-white: #FFFFFF;
  --color-lightgray: #E8E8E7 ;
  
  --breakpoint-3xl: 1921px;
  --breakpoint-2xlg: 1700px;
  --breakpoint-2xl: 1536px;
  --breakpoint-cxl: 1440px;
  --breakpoint-xlg: 1366px;
  --breakpoint-xl: 1280px;
  --breakpoint-clg: 1100px;
  --breakpoint-lg: 1024px;
  --breakpoint-mdlg: 900px;
  --breakpoint-md: 768px;
  --breakpoint-sm: 640px;

  --font-family-helvetica-now: 'Helvetica Now Display';
  --font-playfair: var(--font-playfair);


}


@layer components {
  .d {
    @apply border-1 border-[#ff0000] border-solid;
  }

  .blade-top-padding {
    @apply pt-8 md:pt-10 lg:pt-14 xl:pt-16 2xl:pt-20;

  }

  .blade-top-padding-sm {
    @apply pt-5 md:pt-6 lg:pt-8 xl:pt-10 2xl:pt-14;
  }

  .blade-top-padding-lg {
    @apply pt-10 md:pt-12 lg:pt-20 xl:pt-24 2xl:pt-28;
  }

  .blade-top-padding-xl {
    @apply pt-16 md:pt-10 lg:pt-20 xl:pt-28 2xl:pt-36;
  }

  .blade-bottom-padding {
    @apply pb-8 md:pb-10 lg:pb-14 xl:pb-16 2xl:pb-20;

  }

  .blade-bottom-padding-sm {
    @apply pb-5 md:pb-6 lg:pb-8 xl:pb-10 2xl:pb-14;

  }

  .blade-bottom-padding-lg {
    @apply pb-10 md:pb-12 lg:pb-20 xl:pb-24 2xl:pb-28;

  }

  .blade-bottom-padding-xl {
    @apply pb-16 md:pb-10 lg:pb-20 xl:pb-28 2xl:pb-36;

  }

 

  .blade-top-margin {
    @apply mt-8 md:mt-10 lg:mt-12 xl:mt-16 2xl:mt-20;
  }

  .blade-top-margin-sm {
    @apply mt-5 md:mt-6 lg:mt-8 xl:mt-10 2xl:mt-14;
  }

  .blade-top-margin-lg {
    @apply mt-10 md:mt-12 lg:mt-16 xl:mt-20 2xl:mt-24;
  }

  .blade-bottom-margin {
    @apply mb-8 md:mb-10 lg:mb-12 xl:mb-16 2xl:mb-20;
  }

  .blade-bottom-margin-sm {
    @apply mb-5 md:mb-6 lg:mb-8 xl:mb-10 2xl:mb-14;
  }

  .blade-bottom-margin-lg {
    @apply mb-10 md:mb-12 lg:mb-16 xl:mb-20 2xl:mb-24;
  }

 

  .w-container-xs {
    @apply mx-auto w-11/12 max-w-screen-xl sm:px-3 lg:w-8/12;
  }

  .w-container-sm {
    @apply max-w-screen-2xl mx-auto w-11/12 lg:w-10/12 2xl:w-[70%] sm:px-3;
  }

  .w-container-md {
    @apply mx-auto max-w-screen-2xl px-3 lg:w-9/12;
  }

  .w-container {
    @apply mx-auto max-w-screen-2xl px-3 lg:w-11/12;
  }

  .w-container-lg {
    @apply mx-auto max-w-screen-2xl px-3 md:w-11/12;
  }

  .w-container-xl {
    @apply md:w-11/12 px-3 2xlg:px-20 max-w-[1920px] mx-auto;
  }

 

  .custom-transition {
    @apply transition-all duration-300 ease-linear;
  }
}

@layer base {

  .mega {
    @apply text-[32px] sm:text-[36px] md:text-[40px] lg:text-[46px] xl:text-[50px] 2xl:text-[54px] leading-[1.1] xl:leading-[60px] 2xl:leading-[70px] tracking-[-0.06em];
  }

  /* h1 */
  .custom-text-3xl {
    @apply text-[32px] sm:text-[36px] md:text-[40px] lg:text-[40px] xl:text-[44px] 2xl:text-[54px] leading-[1.1] xl:leading-[50px] 2xl:leading-[70px] tracking-[-0.03em];
  }

  /* h2 */
  .custom-text-2xl {
    @apply tracking-[-0.06em] text-[24px] sm:text-[28px] md:text-[32px] lg:text-[36px] xl:text-[38px] 2xl:text-[48px] leading-[1.2] sm:leading-[1.2] md:leading-[1.3] xl:leading-[48px] 2xl:leading-[56.64px];
  }

  /* h3 */
  .custom-text-xl {
    @apply text-[20px] sm:text-[24px] md:text-[26px] 2xl:text-[34px] leading-[1.3] xl:leading-[44px] tracking-[-0.03em];
  }

  /* h4 */
  .custom-text-lg {
    @apply text-[18px] sm:text-[20px] md:text-[24px] lg:text-[24px] 2xl:text-[28px] leading-[1.4] tracking-[-0.02em];
  }

  /* h5 */
  .custom-text-base {
    @apply text-[17px] sm:text-[18px] xl:text-[19px] 2xl:text-[24px] leading-[1.4] tracking-[-0.01em];
  }

  /* h6 */
  .custom-text-md {
    @apply text-[16px] md:text-[16px] xl:text-lg 2xl:text-[20px] leading-[1.5] tracking-tight;
  }

  .custom-tag-text {
    @apply text-[14px] md:text-[18px] xl:text-[18px] leading-[1.5] tracking-[0.01em];
  }

  /* p */
  p {
    @apply text-[16px] 2xl:text-[18px] leading-[1.5] tracking-normal;
  }

  .custom-text-para {
    @apply text-[16px] 2xl:text-[18px] leading-[1.5] tracking-normal;
  }

  br {
    @apply hidden sm:block;
  }

  .small-text {
    @apply text-[12px] sm:text-[13px] md:text-[14px] leading-[1.6] tracking-wide;
  }

  .text-input {
    @apply text-base leading-normal md:leading-normal lg:leading-normal xl:text-xl 2xl:text-xl 2xl:leading-normal;
  }

  .animate-fade-in {
    animation: fad-in 0.5s ease-in-out forwards;
  }

  .animate-fade-up {
    animation: fad-up 0.5s ease-in-out forwards;
  }

  .animate-fade-up-slow {
    animation: fad-up 0.8s ease-in-out forwards;
  }


  .animate-fade-up-slower {
    animation: fad-up 1.1s ease-in-out forwards;
  }

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}



@layer utilities {
  .gradient {
    background: #199103;
    background: linear-gradient(180deg, rgba(25, 145, 3, 1) 0%, rgba(7, 43, 1, 1) 100%);
  }

  .buttonGradient {
    background: #199103;
    background: linear-gradient(180deg, rgba(25, 145, 3, 1) 0%, #1E5114 100%);
  }

  .radialGlow {
   background-color: rgba(0, 234, 108, 1);
background: radial-gradient(100% 100% at 40.8% 36.7%, rgba(0, 234, 108, 1) 0%, rgba(38, 223, 4, 1) 24.15%, rgba(22, 34, 26, 1) 72.44%, rgba(23, 26, 23, 1) 94.58%, rgba(255, 195, 113, 1) 100%);

  }

  @keyframes fad-in {
    from {
      opacity: 0
    }

    to {
      opacity: 1
    }
  }

  @keyframes fad-up {
    from {
      opacity: 0;
      transform: translateY(10px);
    }

    to {
      opacity: 1 !important;
      transform: translateY(0px);
    }
  }

  @keyframes smooth-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.smooth-spin {
  animation: smooth-rotate 8s linear infinite;
}

  @font-face {
    font-family: "Helvetica Now Display";
    src: url("/font/HelveticaNowDisplay-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
  }


  @font-face {
    font-family: "Helvetica Now Display";
    src: url("/font/HelveticaNowDisplay-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: "Helvetica Now Display";
    src: url("/font/HelveticaNowDisplay-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
  }

   @font-face {
    font-family: "Helvetica Now Display";
    src: url("/font/HelveticaNowDisplay-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
  }
}